@import "boilerplate";
@import "variables";
@import "mixins";
@import "animation";

/* Real stuff. */
body {
    font-family: $main-ff;
}

a {
    color: $link-color;
    &:hover { color: $link-hover; }
    &:active { color: $link-active; }
}

header {

    a {
        color: $banner-fg;
        &:hover { color: $link-color; }
    }

    .mostpeople {
        font-family: $monospace-ff;
        font-weight: bold;
        font-size: 10px;
        height: 12em;
        background: $banner-bg;
        color: $banner-fg;
        padding-bottom: $banner-margin;
        margin-bottom: $banner-margin;

        pre {
            height: 0px;
            @include animation(anim, 4s, steps(1), infinite, running, forwards);
        }

        #frame1 {
            @include animation-delay(0s);
        }
        #frame2 {
            opacity: 0;
            @include animation-delay(1s);
        }
        #frame3 {
            opacity: 0;
            @include animation-delay(2s);
        }
        #frame4 {
            opacity: 0;
            @include animation-delay(3s);
        }
    }
}

section.content {
    width: $content-width;
    margin: $content-margins auto $content-margins auto;
    color: $content-text-color;

    nav {
        position: relative;
        width: $nav-width;
        left: -$nav-width;
        height: 0px;
    }

    ul.listing {
        list-style-type: none;
    }

    ul.tags {
        list-style-type: none;
        display: inline-block;
        font-style: italic;
    }
}

@include sticky-footer(2em, "#container", "#container_footer", "footer");
footer {
    background: $footer-bg;
    color: $footer-fg;
    width: 100%;
    text-align: center;
    padding: $marginal-distance 0 $marginal-distance 0;
    @include banneresque;
}
