<div class="mostpeople">
    <pre id="frame1">{% include "mostpeople-frame1.j2" %}</pre>
    <pre id="frame2">{% include "mostpeople-frame3.j2" %}</pre>
    <pre id="frame3">{% include "mostpeople-frame2.j2" %}</pre>
    <pre id="frame4">{% include "mostpeople-frame4.j2" %}</pre>
</div>
